pandas
sqlalchemy
psycopg2-binary
pymysql
boto3
azure-storage-blob
python-dotenv
pymupdf
python-docx
pillow
lxml
openpyxl
tabulate
PyPDF2
pyodbc
oracledb
easyocr==1.7.1
torch
torchvision
plotly
streamlit